h1{
    text-align:center;
    color: rgb(51, 51, 53);
    font-size: larger;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
}
table{
   border: 1 solid rgb(155, 150, 150);
   width: 80%;
   height:200px;
   margin:auto;
}
th{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: 550;
    background-color: rgb(105, 141, 206);
    color:aliceblue;
}
td{
    text-align: center;
    font-family: 'Arial', sans-serif;
}
.gray{
    background-color: rgb(147, 145, 145);
}
body{
    background-color: rgb(221, 219, 219);
}